* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --white: #FFFFFF;
  --black: #000000;
  --main-blue: #286DF8;
  --main-violet: #5F1ED1;
  --btn-violet: #4B3DE0; /*MODIFICAR POR SWITCH_COLOR*/
  --btn-text: #6913CB;
}